{% extends 'layouts/base.html' %}

{% block content %}

{% if messages %}
<div class="alert alert-danger" role="alert">
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
</div>
{% endif %}

<div class="container mt-5">
    <h1 class="text-center">Create a New Event</h1>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="POST" class="form-signin">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-lg btn-primary btn-block" type="submit">
                    Save
                </button>
            </form>
            
        </div>
    </div>
</div>

{% endblock %}



