{% extends 'layouts/base.html' %}

{% block content %}
<div class="container">
    <h2>Events</h2>
    {{ mensaje }}
</div>
<section >
    <div class="container">
        <form method="POST" action="{% url 'events' %}">
            {% csrf_token %}
    
            <label for="status">Estado: </label>
            <select id="status" name="status">
                <option value="">-- Selecciona un estado --</option>  <!-- Elemento vacío -->
                {% for status in statuses %}
                    <option value="{{ status.id }}" {% if status.id|stringformat:"s" == request.session.filtered_status|default:'' %}selected{% endif %}>{{ status.status_name }}</option>
                {% endfor %}
            </select>
    
            <label for="date">Fecha:</label>
            <input type="date" id="date" name="date" {% if request.session.filtered_date %}value="{{ request.session.filtered_date }}" {% endif %}>
    
            <input type="submit" value="Filtrar">
            
        </form>
    </div>
</section>

<section>

    <div class="grid-container">
        {% for event in events %}
        <div class="card">
            <p>{{ event.event_status.icon }} [ {{ event.id }} ]: {{ event.title }}</p>
            <p>{{ event.description }}</p>
            <p>Creado: {{ event.created_at|date:"d-M H:i" }}</p>
            <p>Estado: {{ event.updated_at|date:"d-M H:i" }}</p>

            <form  action="{% url 'change_event_status' event.id %}" method="POST">
                {% csrf_token %}
            
                <select name="new_status_id">
                    {% for status in statuses %}
                    <option value="{{ status.id }}" {% if status.id|stringformat:"s" == event.event_status.id|stringformat:"s" %}selected{% endif %}>{{ status.status_name }}</option>
                    {% endfor %}
                </select>
            
                <!-- Aquí está el nuevo campo oculto -->
                <!--input type="hidden" name="status" value="{{ request.POST.status }}"-->
                <input type="submit" value="Cambiar Estado">
            </form>
            
    
            <form action="{% url 'delete_event' event.id %}" method="POST">
                {% csrf_token %}
                <input type="submit" value="Eliminar">
            </form>
        </div>
        {% endfor %}
    
    </div>
</section>
{% endblock %}