{% extends 'layouts/base.html' %}

{% block content %}
<!-- Mensajes de confirmación y éxito -->
{% if messages %}
	<div id="message-container" class="alert alert-info" role="alert">
    	{% for message in messages %}
	    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    	{% endfor %}
  </div>
{% endif %}

{% if events %}
    <!-- Aquí va el código para mostrar los eventos -->

<div class="container my-3">
  <h3 class="text-center">Events</h3>
</div>

<div class="container my-3">
  <form method="POST" action="{% url 'events' %}" class="row g-3">
    {% csrf_token %}
    <div class="col-auto">
      <label for="status" class="visually-hidden">Estado:</label>
      <select id="status" name="status" class="form-select">
        <option value="">-- Selecciona un estado --</option>
        {% for status in statuses %}
          <option value="{{ status.id }}" {% if status.id|stringformat:"s" == request.session.filtered_status|default:'' %}selected{% endif %}>
            {{ status.status_name }}
          </option>
        {% endfor %}
      </select>
    </div>
    <div class="col-auto">
      <label for="date" class="visually-hidden">Fecha:</label>
      <input type="date" id="date" name="date" class="form-control" {% if request.session.filtered_date %}value="{{ request.session.filtered_date }}" {% endif %}>
    </div>
    <div class="col-auto">
      <div class="form-check">
        <input type="checkbox" name="cerrado" value="true" class="form-check-input" id="cerrado" {% if request.session.filtered_cerrado %} checked {% endif %}>
        <label class="form-check-label" for="cerrado">Omitir Cerrados</label>
      </div>
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-3">Filtrar</button>
    </div>
  </form>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
	{% for event in events %}
	<div id="event-card-{{ event.id }}" class="col">
		<div class="card h-100">
			<div class="card-header" style="background-color: {{ event.event_status.color }};">
				<!-- Placeholder for potential event status indicator -->
			</div>
			<div class="card-body">
				<h5 class="card-title text-center">{{ event.event_status.icon }} [{{ event.id }}]</h5>
				<h2 class="card-title text-center">{{ event.title }}</h2>
				<p class="card-text">{{ event.description }}</p>
				<!-- ... -->
				<p class="card-text">Host: {{ event.host.username }}</p>
				<p class="card-text">Asignado a: {{ event.assigned_to.username }}</p>
				<p class="card-text">Asistentes:</p>
				<ul>
				{% for attendee in event.attendees.all %}
					<li>{{ attendee.username }}</li>
				{% endfor %}
				</ul>
				<!-- ... -->
				<!-- Formulario de cambio de estado -->
				<form action="{% url 'change_event_status' event.id %}" method="POST" class="mb-2">
				{% csrf_token %}
					<div class="mb-3">
						<select name="new_status_id" class="form-select" aria-label="Default select example">
						{% for status in statuses %}
							<option value="{{ status.id }}" {% if status.id|stringformat:"s" == event.event_status.id|stringformat:"s" %}selected{% endif %}>
							{{ status.status_name }}
							</option>
						{% endfor %}
						</select>
					</div>
					<button type="submit" class="btn btn-outline-primary btn-sm">Cambiar Estado</button>
				{% if request.user.profile.role == 'SU' %}	
				</form>
				<!-- Botón de eliminación con ícono -->
				<form action="{% url 'delete_event' event.id %}" method="POST" class="d-inline" onsubmit="return confirm('¿Estás seguro de que quieres eliminar este evento?');">
				{% csrf_token %}
					<button type="submit" class="btn btn-danger">
						<i class="bi bi-trash-fill"></i>
					</button>
				</form>
				{% endif %}
	
			</div>
			<div class="card-footer text-muted">
				<p>Updated: {{ event.updated_at|date:"d-M H:i" }}</p>
				<p>Created: {{ event.created_at|date:"d-M H:i" }}</p>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{% else %}
<div class="container my-3">
	<p>No hay eventos para mostrar.</p>
</div>
{% endif %}

<script>
	$(document).ready(function(){
	$("form").on('submit', function(event){
		event.preventDefault();
		$.ajax({
		url: $(this).attr('action'),
		type: $(this).attr('method'),
		data: $(this).serialize(),
		success: function(response){
			// Actualizar el contenedor de mensajes y el card del evento con el HTML devuelto por la vista
			$('#message-container').html(response.message_html);
			$('#event-card-' + event_id).html(response.event_card_html);
		}
		});
	});
	});
</script>


{% endblock %}
