{% extends 'layouts/base.html' %}

{% block content %}
    
  <p><h2>Events</h2></p><br>
    {{ mensaje }}
    


    <div >
        <form method="POST" action="{% url 'events' %}">
            {% csrf_token %}
            <label for="status">Estado: </label>

            <select id="status" name="status">
                <option value="">-- Selecciona un estado --</option>
                {% for status in statuses %}
                    <option value="{{ status.id }}" {% if status.id|stringformat:"s" == request.session.filtered_status|default:'' %}selected{% endif %}>
                        {{ status.status_name }}
                    </option>
                {% endfor %}
            </select>
            <label for="date">Fecha:</label>
            <input type="date" id="date" name="date" {% if request.session.filtered_date %}value="{{ request.session.filtered_date }}" {% endif %}>
            <label for="cerrado">Omitir Cerrados</label>
            <input type="checkbox" name="cerrado" value="true" {% if request.session.filtered_cerrado %} checked {% endif %}>
            <input type="submit" value="Filtrar">
        </form>
    </div>

  <div class="container">
    {% for event in events %}
    <div class="card" style="background-color: {{ event.event_status.color }};">
      <div class="box" >
        <div class="content">
          
          <h2>{{ event.id }}</h2>
          <h3>{{ event.event_status.icon }} {{ event.title }}</h3>
          <p>{{ event.description }}</p>
          <p>Creado: {{ event.created_at|date:"d-M H:i" }}</p>
					<p>Estado: {{ event.updated_at|date:"d-M H:i" }}</p>
          
          <form  action="{% url 'change_event_status' event.id %}" method="POST">
						{% csrf_token %}
					
						<select name="new_status_id">
							{% for status in statuses %}
							<option value="{{ status.id }}" {% if status.id|stringformat:"s" == event.event_status.id|stringformat:"s" %}selected{% endif %}>{{ status.status_name }}</option>
							{% endfor %}
						</select>
					

						<!--input type="hidden" name="status" value="{{ request.POST.status }}"-->
						<input type="submit" value="Cambiar Estado">
					</form>
          
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

{% endblock %}