{% extends 'layouts/base.html' %}

{% block content %}
<div class="pagetitle">
    <h1>{{title}}</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'event_panel' %}">Events</a></li>
            {% if event %}
            <li class="breadcrumb-item active"><a href="{% url 'event_panel' %}">{{title}}</a></li>
            {% else %}
            <li class="breadcrumb-item active">{{title}}</li>

            {% endif %}
        </ol>
    </nav>
</div><!-- End Page Title -->
<!-- Mensajes de confirmación y éxito -->
{% if messages %}
<div id="message-container" class="alert alert-info" role="alert">
    {% for message in messages %}
    <p{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</p>
        {% endfor %}
</div>
{% endif %}

<section class="section">
    <div class="row">
        {% if event %}
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">Evento</div>
                <div class="card-body">
                    <h5 class="card-title">{{event.title}}</h5>
                    <p>{{event.description}}</p>
                    <div class="card-footer">
                        <p>
                            <a href="{% url 'event_edit' event.id %}" class="btn btn-primary"><i class="bi bi-pencil-fill"></i></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        {% if project %}

        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">Projecto</div>

                <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'project_panel' project.id %}">{{project.title}}</a></h5>
                    <p>{{project.description}}</p>
                    <div class="card-footer">
                        <p>
                            <a href="{% url 'event_edit' event.id %}" class="btn btn-primary"><i class="bi bi-pencil-fill"></i></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        {% else %}
        {% endif %}

        {% for task in tasks %}
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title"><a href="{% url 'tasks' task.id %}">{{ task.title}}</a></h6>
                    <h5 class="card-title">{{task.title}}</h5>
                    <p>{{task.description}}</p>

                </div>
            <div class="card-footer">
            <p><a href="{% url 'task_edit' task.id %}" class="btn btn-primary"><i class="bi bi-pencil-fill"></i></a></p>
            </div>
            </div>

        </div>
        {% endfor %}

        {% else %}

        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">Aviso</div>
                <div class="card-body">
                    <h6 class="card-title">Está en el Panel de Eventos</h6>
                    <p>Seleccione un elemento para mas detalle</p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'event_edit' %}" class="btn btn-primary bi bi-pencil-fill"> Lista de Eventos</a>
                </div>
            </div>
        </div>    
        {% for event in events %}

        <div class="col-lg-3 stiky">
            <div class="card">
                <div class="card-header " style="background-color: {{ event.event_status.color }};opacity: 0.8;">
                    Evento</div>
                <div class="card-body">
                    <h6 class="card-title"><a href="{% url 'event_panel' event.id %}">{{ event.title}}</a></h6>
                    <p> {{ event.description }}</p>

                    <form id="form-{{ event.id }}" action="{% url 'change_event_status' event.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-floating mb-3">
    
                            <select name="new_status_id" class="form-select" aria-label="Default select example">
                                {% for status in statuses %}
                                    <option value="{{ status.id }}" {% if status.id|stringformat:"s" == event.event_status.id|stringformat:"s" %}selected{% endif %}>
                                    {{ status.status_name }}
                                    </option>
                                {% endfor %}
                            </select>
                            <label for="floatingSelect">Estado</label>
                        </div>
                          <button type="submit" class="btn btn-primary">Cambiar Estado</button>
                    </form> 

                    
                </div>
                <div class="card-footer">
                    <a href="{% url 'event_edit' event.id %}" class="btn btn-primary bi bi-pencil-fill"></a>
                </div>
            </div>
        </div>          
        {% endfor %}
            
        
        {% endif %}
    </div>
</section>


{% endblock %}