{% extends 'layouts/base.html' %}


{% block content %}

<style>
  .example{
    background-color: whitesmoke;
    text-align:center;
    vertical-align:bottom;
  }
  .example h2{

    align-content: center;
    vertical-align: middle;
  }    

</style>

    <div class="container example" >
      
        <h2>Events</h2>
      
      <br>
      {{ mensaje }}
    </div>

    <div class="container" style="padding:10px;">
        <form method="POST" action="{% url 'events' %}">
            {% csrf_token %}
            <label for="status">Estado: </label>

            <select id="status" name="status">
                <option value="">-- Selecciona un estado --</option>
                {% for status in statuses %}
                    <option value="{{ status.id }}" {% if status.id|stringformat:"s" == request.session.filtered_status|default:'' %}selected{% endif %}>
                        {{ status.status_name }}
                    </option>
                {% endfor %}
            </select>
            <label for="date">Fecha:</label>
            <input type="date" id="date" name="date" {% if request.session.filtered_date %}value="{{ request.session.filtered_date }}" {% endif %}>
            <label for="cerrado">Omitir Cerrados</label>
            <input type="checkbox" name="cerrado" value="true" {% if request.session.filtered_cerrado %} checked {% endif %}>
            <input type="submit" value="Filtrar">
        </form>
    </div>


    <div>

   
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for event in events %}

      <div class="col">
        <div class="card h-100" >
          <div class="card-img-top" style="background-color: {{ event.event_status.color }}; opacity: 0.9;">
            <p></p>
          </div>
          <!--img src="..." class="card-img-top" alt=""-->
          <div class="card-body" >
            <h5 class="card-title">[{{ event.id }}]{{ event.status_id|safe }} {{ event.title }}</h5>
            <p class="card-text">{{ event.description }}</p>
          </div>
          <div class="card-body">
            <form action="{% url 'change_event_status' event.id %}" method="POST">
              {% csrf_token %}
              <div class="mb-3">
              <select name="new_status_id" class="form-select" aria-label="Default select example">
                {% for status in statuses %}
                <option value="{{ status.id }}" {% if status.id|stringformat:"s" == event.event_status.id|stringformat:"s" %}selected{% endif %}>{{ status.status_name }}</option>
                {% endfor %}
              </select>

                <div class="mb-3">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="disabledFieldsetCheck" disabled>
                    <label class="form-check-label" for="disabledFieldsetCheck"></label>
                  </div>

              </div class="mb-3">
              <!--input type="hidden" name="status" value="{{ request.POST.status }}"-->
              <input class="btn btn-primary" type="submit" value="Cambiar Estado">
              </div>
            </form>
          </div>
          <div class="card-footer">
            <small class="text-muted">
              <p>Creado: {{ event.created_at|date:"d-M H:i" }}</p>
              <p>Estado: {{ event.updated_at|date:"d-M H:i" }}</p>
            </small>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
</div>

{% endblock %}