<!-- Sales Card -->
<div class="col-xxl-6 col-md-6 " id="event-card-{{ event_data.event.id }}">
	<div class="card info-card sales-card">
		<div class="filter">
			<a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
			<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
				<li class="dropdown-header text-start">
					<h6>More</h6>
				</li>
				<li><a class="dropdown-item" href="#">Today</a></li>
				<li><a class="dropdown-item" href="#">This Month</a></li>
				<li>
					{% if request.user.profile.role == 'SU' %}
					<div class="dropdown-item">
						{% csrf_token %}
						<a href="{% url 'event_edit' event_data.event.id %}" class="btn btn-primary">
							<i class="bi bi-pencil-fill"></i>
						</a>
					</div>
					{% endif %}
				</li>
				<li>
					{% if request.user.profile.role == 'SU' %}
					<form id="delete-form-{{ event_data.event.id }}" action="{% url 'event_delete' event_data.event.id %}" method="POST"
						class="dropdown-item d-inline" onsubmit="return confirm('¿Estás seguro de que quieres eliminar esta tarea?');">
						{% csrf_token %}
							<button type="submit" class="btn btn-danger">
								<i class="bi bi-trash-fill"></i>
							</button>
					</form>
					{% endif %}
				</li>
			</ul>
		</div>

		<div class="card-body">
			<h5 class="card-title"><a href="{% url 'event_panel' event_data.event.id %}">{{ event_data.event.title }}</a><span>| Event id: {{event_data.event.id}}</span></h5>
			<div class="d-flex align-items-center">
				<div
					style="color: {{event_data.event.event_status.color}};"
					class="card-icon rounded-circle d-flex align-items-center justify-content-center">
					<i class="bi bi-calendar2-event-fill"></i>
				</div>
				<div class="ps-3">
					<h6></h6>
					<span class="text-muted small pt-2 ps-1">Created</span>
					<span class="text-success small pt-1 fw-bold">{{ event_data.event.created_at|date:"d-M H:i" }}</span> 
					<br>
					<span class="text-muted small pt-2 ps-1">Updated</span>
					<span class="text-success small pt-1 fw-bold">{{ event_data.event.updated_at|date:"d-M H:i" }}</span> 
				</div>
			</div>
			<p class="card-text mb-1">{{ event_data.event.description }}</p>
			{% if event_data.event.attendees %}
			<p class="card-text mb-1"><strong>Asistentes:</strong>
				{% for attendee in event_data.event.attendees.all %}
				{{ attendee.username|title }}{% if not forloop.last %},{% else %}.{% endif %}
				{% endfor %}
			</p>
			{% endif %}
			<form id="form-{{ event_data.event.id }}" action="{% url 'event_status_change' event_data.event.id %}" method="POST"
				class="mb-1">
				{% csrf_token %}
				<div class="mb-1">
					<select name="new_status_id" class="form-select" aria-label="Default select example">
						{% for status in event_statuses %}
							<option value="{{ status.id }}" {% if status.id|stringformat:"s" == event_data.event.event_status.id|stringformat:"s" %}selected{% endif %}>
							{{ status.status_name }}
							</option>
						{% endfor %}
					</select>
				</div>
				<button type="submit" class="btn btn-primary btn-sm">Cambiar Estado</button>
			</form>
		</div>
	</div>
</div><!-- End Sales Card -->
