<!-- Reports -->
<div class="col-12">
    <div class="card">
        <div class="filter">
            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                    <h6>Options</h6>
                </li>
                <li><a class="dropdown-item" href="#">Opt1</a></li>
            </ul>
        </div>
        <div class="card-body">
            <h5 class="card-title">Active Elements <span>| Today</span></h5>

            <!-- Line Content -->

            {% include 'projects/control/frame.html' %}
            

            <!-- End Line Content -->

        </div>

    </div>
</div><!-- End Reports -->
