{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}

<!-- Mensajes de confirmación y éxito -->
{% if messages %}
<div class="alert alert-info" role="alert">
    {% for message in messages %}
    <p{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</p>
        {% endfor %}
</div>
{% endif %}

<div class="pagetitle">
    <h1>{{title}}</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
            <li class="breadcrumb-item active">Events Origen</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section dashboard">
    <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
            <div class="row">

                <!-- Barra de filtro de resultados -->
				{% include 'events/includes/event_filter.html' %}

                <!-- Lista de resultados de eventos-->
				{% include 'events/includes/event_top.html' %}

                <!-- Cartas del resultado eventos -->
				{% for event in events %}
				{% include 'events/includes/event_card.html' %}
				{% endfor %}

            </div>
        </div><!-- End Left side columns -->

        <!-- Right side columns -->
        <div class="col-lg-4">


            {% if instructions %}
            {% include 'layouts/includes/information/info_links_card.html' %}
            {% endif %}

            {% include 'layouts/includes/information/info_acordeon.html' %}
            {% include 'events/includes/event_recent_activity.html' %}



        </div><!-- End Right side columns -->

    </div>
</section>

{% endblock %}

