{% extends 'layouts/base.html' %}
{% load static %}
{% load schedule_filters %}

{% block content %}

<!-- Mensajes de confirmación y éxito -->
{% if messages %}

{% include 'layouts/includes/alert.html' %}

{% endif %}

<div class="pagetitle">
    <h1>{{page_title}}</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active">{{page_title}}</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section dashboard">
    <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
            <div class="row">
                {% if user.username %}
                <!-- Revenue Card -->
                <div class="col-xxl-4 col-md-6">
                    <div class="card info-card revenue-card">

                        <div class="filter">
                            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <li class="dropdown-header text-start">
                                    <h6>Filter</h6>
                                </li>

                                <li><a class="dropdown-item" href="#">Today</a></li>
                                <li><a class="dropdown-item" href="#">This Month</a></li>
                                <li><a class="dropdown-item" href="#">This Year</a></li>
                            </ul>
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">Revenue <span>| This Month</span></h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-coin"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>{{user.creditaccount.balance}}</h6>
                                    <span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">increase</span>

                                </div>
                            </div>
                        </div>

                    </div>
                </div><!-- End Revenue Card -->
                {% include 'index/includes/dashboard_sales_card.html' %}


                {% include 'tests/chart_time.html' %}
                {% include 'tests/chart_report.html' %}
                {% include 'tests/chart_bar.html' %}
                {% include 'tests/chart_trend.html' %}
                {% include 'tests/table.html' %}
                {% endif %}
            </div>
        </div><!-- End Left side columns -->

        <!-- Right side columns -->
        <div class="col-lg-4">

            {% if user.name %}

            {% include 'events/includes/event_recent_activity.html' %}


            {% endif %}

        </div><!-- End Right side columns -->

    </div>
</section>

{% endblock %}