# Ignora la base de datos SQLite
db.sqlite3

# Ignora secrets.py
panel/secrets.py

# Ignora el archivo de variables de entorno
.env

# Ignora el entorno virtual
env/

# Ignora todos los directorios __pycache__
__pycache__/
*.pyc  # Agregado para ignorar archivos .pyc

# Ignora todos los vscode
.vscode 

# Ignora todos los vscode
**/.vs/

# Ignora el contenido de las carpetas internas
media/documents/*
!media/documents/
media/images/*
!media/images/
media/profile_pics/*
!media/profile_pics/

# Ignora migraciones en general, pero permite algunas
*/migrations/*
!*/migrations/__init__.py
!core/migrations/