# Ignora la base de datos SQLite
db.sqlite3

# Ignora el entorno virtual
venv_django/

# Ignora todos los directorios __pycache__
__pycache__/

# Ignora todos los vscode
.vscode 

# Ignora todos los vscode
**/.vs/

# Ignora el contenido de las carpetas internas
media/documents/*
!media/documents/
media/images/*
!media/images/
media/profile_pics/*
!media/profile_pics/