{% extends 'layouts/base.html' %}
{% load static %}
{% load schedule_filters %}

{% block content %}

<!-- Confirmation and success messages -->
{% if messages %}

{% include 'layouts/includes/alert.html' %}

{% endif %}

<div class="pagetitle">
    <h1>{{pagetitle}}</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active">{{pagetitle}}</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section dashboard">
    <div class="row">
        <!-- Left side columns -->
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <p>Chat Rooms</p>
                            What chat room would you like to enter?<br>
                            <input id="room-name-input" type="text" size="100"><br>
                            <input id="room-name-submit" type="button" value="Enter">

                            <script>
                                document.querySelector('#room-name-input').focus();
                                document.querySelector('#room-name-input').onkeyup = function(e) {
                                    if (e.key === 'Enter') {  // enter, return
                                        document.querySelector('#room-name-submit').click();
                                    }
                                };

                                document.querySelector('#room-name-submit').onclick = function(e) {
                                    var roomName = document.querySelector('#room-name-input').value;
                                    window.location.pathname = '/chat/' + roomName + '/';
                                };
                            </script>








                        </div>
                </div>
            </div>
        </div><!-- End Left side columns -->
    </div>

</section>


{% endblock %}