<span>
    {% if urls %}    
    {% for url in urls %}
        {% if url.id %}
            <!-- URL con parámetro ID -->
            <a href="{% url url.url url.id %}" class="btn btn-success" style="margin-bottom: 10px;">{{url.name}}</a>
        {% else %}
            <!-- URL sin parámetros -->
            <a href="{% url url.url %}" class="btn btn-success" style="margin-bottom: 10px;">{{url.name}}</a>
        {% endif %}
    {% endfor %}
    {% endif %}
    
    {% if form_urls %}    
    {% for url in form_urls %}
    <a href="{% url url.url url.form_id %}" class="btn btn-info" style="margin-bottom: 10px;">{{url.name}}</a>
    {% endfor %}
    {% endif %}
</span>