{% extends 'layouts/base.html' %}
{% block content %}
{% if messages %}
<div class="alert alert-danger" role="alert" id="alert-message">
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
</div>
{% endif %}
    <h1>Create Project</h1>
    <form method="POST">
        {% csrf_token %}
        {{form}}
        <button>
            Save
        </button>
    </form>

<script>
$(document).ready(function(){
    setTimeout(function() {
        $("#alert-message").fadeOut("slow");
    }, 5000 ); // 5000ms = 5s
});
</script>

{% endblock %}
