{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
{% if messages %}
<div class="alert alert-info" role="alert">
    {% for message in messages %}
    <p{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</p>
        {% endfor %}
</div>
{% endif %}
<div class="pagetitle">
    <h1>{{title}}</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'project_panel' %}">Projects</a></li>
            <li class="breadcrumb-item active">{{title}}</li>
        </ol>
    </nav>
</div><!-- End Page Title -->
<section class="section dashboard">
    <div class="row">
        <!-- Left side columns -->
        <div class="col-lg-8">
            <div class="row">
                {% if projects %}
                {% include 'projects/control/control.html' %}
                {% include 'projects/includes/project_top.html' %}
                {% else %}
                {% endif %}

                {% if project_info %}
                {% include 'projects/includes/project_card.html' %}
                <div class="col-xxl-4 col-md-6 " id="project-card-{{ project_info.project.id }}">
                    <div class="card">
                        <div class="card-header">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Tasks</h5>    
                            <ul class="list-group">
                                {% for task in project_info.tasks %}

                                <li class="list-group-item">
                                        <i class="bi bi-calendar-fill" style="font-size:15px; color:{{task.task_status.color}};"></i>
                                        <a class="card-subtitle" href="{% url 'task_panel' task.id %}" style="font-size:15px;">{{task.title}}<span style="font-size:12px; color:{{task.task_status.color}};"> | {{task.task_status}}</span></a>
                                     
                                </li>
                                {% endfor%}
                            </ul>
                            {% if project_info.tasks %}
                            {% else %}
                            {% endif%}
                        </div>
                        <div class="card-footer">
                        </div>
                    </div>
                </div>
                {% else %}
                {% endif %}







            </div>
        </div><!-- End Left side columns -->
        <!-- Right side columns -->
        <div class="col-lg-4">
        </div><!-- End Right side columns -->
    </div>
</section>

{% endblock %}