
<div id="project-card-{{ project.id }}" class="col">
	<div class="card h-100 shadow-sm">
		<div class="card-header" style="background-color: {{ project.project_status.color }};">
		</div>
		<div class="card-body">
			
			<h5 class="card-title mb-1">{{ project.title }}</h5>
			<h6 class="card-subtitle mb-2 text-muted">{{ project.host.get_full_name|title }}</h6>
			<p class="card-text mb-1">{{ project.description }}</p>

			<p class="card-text mb-1"><strong>Asignado a:</strong> {{ project.assigned_to.username|title }}.</p>
			<p class="card-text mb-1"><strong>Asistentes:</strong>
				{% for attendee in project.attendees.all %}
					{{ attendee.username|title }}{% if not forloop.last %},{% else %}.{% endif %}
				{% endfor %}
			</p>
			<form id="form-{{ project.id }}" action="{% url 'change_project_status' project.id %}" method="POST" class="mb-1">
			{% csrf_token %}
				<div class="mb-1">
					<select name="new_status_id" class="form-select" aria-label="Default select example">
					{% for status in statuses %}
						<option value="{{ status.id }}" {% if status.id|stringformat:"s" == project.project_status.id|stringformat:"s" %}selected{% endif %}>
						{{ status.status_name }}
						</option>
					{% endfor %}
					</select>
				</div>
				<button type="submit" class="btn btn-outline-primary btn-sm">Cambiar Estado</button>
			</form>

			{% if request.user.profile.role == 'SU' %}

			<form id="delete-form-{{ project.id }}" action="{% url 'project_delete' project.id %}" method="POST" class="d-inline" onsubmit="return confirm('¿Estás seguro de que quieres eliminar este projecto?');">
			{% csrf_token %}
			<div class="mb-1">
				<button type="submit" class="btn btn-danger">
					<i class="bi bi-trash-fill"></i>
				</button>
			</div>
			</form>
			{% endif %}
		</div>
		<div class="card-footer text-muted">
			<p class="card-text mb-0"><strong>Updated:</strong> {{ project.updated_at|date:"d-M H:i" }}</p>
			<p class="card-text mb-0"><strong>Created:</strong> {{ project.created_at|date:"d-M H:i" }}</p>
			<p class="card-text mb-0"><strong>Evento:</strong> {{ project.event.title }}</p>
			<p class="card-text mb-0"><strong>Project ID:</strong> {{ project.id }} {{ project.project_status.icon }}
			</p>

		</div>
	</div>
</div>
