{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}Perfil Corporativo{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'cv/css/corporate_profile.css' %}">
{% endblock %}

{% block content %}
<div class="pagetitle">
    <h1>Perfil Corporativo</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
            <li class="breadcrumb-item">Recursos Humanos</li>
            <li class="breadcrumb-item active">Perfil Corporativo</li>
        </ol>
    </nav>
</div>

<section class="section profile">
    <div class="row">
        <!-- Sidebar Column -->
        {% include 'cv/includes/profile_sidebar.html' %}
        
        <!-- Main Content Column -->
        {% include 'cv/includes/profile_tabs.html' %}
    </div>
</section>
{% endblock %}

{% block extra_js %}
<script src="{% static 'cv/js/corporate_profile.js' %}"></script>
{% endblock %}