{% extends 'layouts/base.html' %}

{% block content %}
<!-- Mensajes de confirmación y éxito -->
{% if messages %}
	<div id="message-container" class="alert alert-info" role="alert">
    	{% for message in messages %}
	    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    	{% endfor %}
  </div>
{% endif %}

    <!-- Aquí va el código para mostrar el formualrio -->

    <div class="container">
        <h1>Subir Documento</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Subir</button>
        </form>
    </div>
    
{% endblock %}