{% if tasks %}
<!-- Recent Sales -->
<div class="col-12">
    <div class="card recent-sales overflow-auto">

        <div class="filter">
            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                    <h6>Filter</h6>
                </li>

                <li><a class="dropdown-item" href="#">--</a></li>
                <li><a class="dropdown-item" href="#">--</a></li>
                <li><a class="dropdown-item" href="#">--</a></li>
            </ul>
        </div>
        <div class="card-body pb-0">
            <h5 class="card-title">Recent Tasks <span>| -- </span></h5>

            <table class="table table-borderless datatable">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Title</th>
                        <th scope="col">Assigned to</th>
                        <th scope="col">Date</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                    <tr>
                        <th scope="row"><a href="{% url 'tasks' task.id %}">{{task.id}}</a></th>
                        <td><a href="{% url 'tasks' task.id %}" class="text-primary">{{task.title}}</a></td>                        
                        <td>{{task.assigned_to.get_full_name|title}}</td>
                        <td>{{ task.updated_at|date:"d-M H:i" }}</td>
                        <td><span class="badge bg-success">{{task.task_status.status_name}}</span></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>

    </div>
</div><!-- End Recent Sales -->
{% endif %}