{% extends 'layouts/base.html' %}
{% load static %}
{% load schedule_filters %}

{% block content %}

<!-- Mensajes de confirmación y éxito -->
{% if messages %}

{% include 'layouts/includes/alert.html' %}

{% endif %}
<style type="text/css">
    #header {
        padding: 20px;
    }
    #content {
        padding: 20px 40px 20px 0px;
    }
    #passed {
        width: 7px;
        height: 7px;
        background: rgb(0, 100, 255);
        float: left;
        margin: 0.5px;
    }
    #left {
        width: 7px;
        height: 7px;
        background: whitesmoke;
        border: 0.1px solid rgba(0, 0, 0, 0.2);
        float: left;
        margin: 0.5px;
    }
    .clear{
        clear: both;
    }
</style>

<div class="pagetitle">
    <h1>{{title}}</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active">{{title}}</li>
        </ol>
    </nav>
</div><!-- End Page Title -->



<section class="section dashboard">
    <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-12">
            <div class="row">






                {% include 'memento/includes/memento_weekly.html' %}

            </div>
        </div><!-- End Left side columns -->



    </div>
</section>

{% endblock %}