/* Estilos para el cuerpo del documento */
body{
    background:rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}


/* Estilos para el contenedor principal */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 10px;
}

/* Estilos para los elementos de entrada */
.input {
    background:wheat;
    padding: 10px;
    text-align: center;
    display: block;
}

.form-center input{
    text-align: center;
}

/* Estilos para el contenedor de cuadrícula */
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

/* Estilos para las tarjetas */
.card {
    color :  black;
    background: white;
    border: 1px solid #4d0d0d;
    padding: 5px;
    border-radius: 3px;
    margin-bottom: 1px;
}

/* Estilos para la tabla */
table tr{
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-height: 10px; /* Altura máxima que deseas */
    overflow: auto; 
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    
}

/* Estilos para los enlaces */
a {
    text-decoration: none;
    color: #0074D9;
    transition: color 0.3s;
}

a:hover {
    color: #0056b3;
}

/* Estilos para las filas impares de la tabla */
tr:nth-child(odd) {
    background-color: #f9f9f9;
}
