/* Estilos para el cuerpo del documento */
body{
    background:rgb(230, 255, 255);
    color: rgb(0, 50, 50);
}

/* Estilos para la barra de navegación */
.navbar {
    background: rgb(210, 255, 255);
    padding: 10px 0;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
}

.navbar ul li {
    list-style:none;
}

.navbar ul li a {
    color: rgb(0, 50, 50);
    text-decoration: none;
}

.navbar ul li a:hover {
    color: rgb(150, 150, 0);
}

/* Estilos para el contenedor principal */
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px 20px;
}

/* Estilos para los elementos de entrada */
.input {
    background:wheat;
    padding: 10px;
    text-align: center;
    display: block;
}

.form-center input{
    text-align: center;
}

/* Estilos para el contenedor de cuadrícula */
.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    gap: 30px;
}

/* Estilos para las tarjetas */
.card {
    color :  rgb(0, 50, 50);
    background: khaki;
    border: 2px solid #4d0d0d;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 2px;
}

/* Estilos para la tabla */
table tr{
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-height: 10px; /* Altura máxima que deseas */
    overflow: auto; 
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    
}

/* Estilos para los enlaces */
a {
    text-decoration: none;
    color: #0074D9;
    transition: color 0.3s;
}

a:hover {
    color: #0056b3;
}

/* Estilos para las filas impares de la tabla */
tr:nth-child(odd) {
    background-color: #f9f9f9;
}
