<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Bar Chart</h5>

            
            <!-- Gráfico de Duración por Tarea -->
            <div id="durationChart"></div>

            <script>
                document.addEventListener("DOMContentLoaded", () => {
                    // Gráfico de barras para la duración total en horas por tarea
                    var durationOptions = {
                        series: [{
                            
                            name: 'Duración en Horas',
                            data: {{ duration_chart_data.durations | safe }}
                        }],
                        chart: {
                            type: 'bar',
                            height: 400
                        },
                        xaxis: {
                            categories: {{ duration_chart_data.task_names | safe }},
                            title: {
                                text: 'Tareas'
                            }
                        },
                        yaxis: {
                            title: {
                                text: 'Duración en Horas'
                            }
                        },
                        title: {
                            text: 'Duración Total por Tarea',
                            align: 'left'
                        },
                        dataLabels: {
                            enabled: false
                        },
                        colors: ['#00E396']
                    };

                    var durationChart = new ApexCharts(document.querySelector("#durationChart"), durationOptions);
                    durationChart.render();
                });
            </script>

        </div>
    </div>
</div>
