{% extends 'layouts/base.html' %}
{% load static %}
{% load schedule_filters %}
{% block content %}
{% if messages %}
<div class="alert alert-info" role="alert">
    {% for message in messages %}
    <p{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</p>
    {% endfor %}
</div>
{% endif %}
<div class="pagetitle">
    <h1>{{ title }}</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'project_panel' %}">Program</a></li>
            <li class="breadcrumb-item active">{{ title }}</li>
        </ol>
    </nav>
</div><!-- End Page Title -->
<section class="section dashboard">
    <div class="row">
        <!-- Left side columns -->
        <div class="col-lg-12">
            <div class="row">

                <style>
                    body{
                        margin-top:20px;
                    }
                    .bg-light-gray {
                        background-color: #f7f7f7;
                    }
                    .table-bordered thead td, .table-bordered thead th {
                        border-bottom-width: 2px;
                    }
                    .table thead th {
                        vertical-align: bottom;
                        border-bottom: 2px solid #dee2e6;
                    }
                    .table-bordered td, .table-bordered th {
                        border: 1px solid #dee2e6;
                    }


                    .bg-sky.box-shadow {
                        box-shadow: 0px 5px 0px 0px #00a2a7
                    }

                    .bg-orange.box-shadow {
                        box-shadow: 0px 5px 0px 0px #af4305
                    }

                    .bg-green.box-shadow {
                        box-shadow: 0px 5px 0px 0px #4ca520
                    }

                    .bg-yellow.box-shadow {
                        box-shadow: 0px 5px 0px 0px #dcbf02
                    }

                    .bg-pink.box-shadow {
                        box-shadow: 0px 5px 0px 0px #e82d8b
                    }

                    .bg-purple.box-shadow {
                        box-shadow: 0px 5px 0px 0px #8343e8
                    }

                    .bg-lightred.box-shadow {
                        box-shadow: 0px 5px 0px 0px #d84213
                    }


                    .bg-sky {
                        background-color: #02c2c7
                    }

                    .bg-orange {
                        background-color: #e95601
                    }

                    .bg-green {
                        background-color: #5bbd2a
                    }

                    .bg-yellow {
                        background-color: #f0d001
                    }

                    .bg-pink {
                        background-color: #ff48a4
                    }

                    .bg-purple {
                        background-color: #9d60ff
                    }

                    .bg-lightred {
                        background-color: #ff5722
                    }

                    .padding-15px-lr {
                        padding-left: 15px;
                        padding-right: 15px;
                    }
                    .padding-5px-tb {
                        padding-top: 5px;
                        padding-bottom: 5px;
                    }
                    .margin-10px-bottom {
                        margin-bottom: 10px;
                    }
                    .border-radius-5 {
                        border-radius: 5px;
                    }

                    .margin-10px-top {
                        margin-top: 10px;
                    }
                    .font-size14 {
                        font-size: 14px;
                    }

                    .text-light-gray {
                        color: #d6d5d5;
                    }
                    .font-size13 {
                        font-size: 13px;
                    }

                    .table-bordered td, .table-bordered th {
                        border: 1px solid #dee2e6;
                    }
                    .table td, .table th {
                        padding: .75rem;
                        vertical-align: top;
                        border-top: 1px solid #dee2e6;
                    }

                </style>

                <div>
                    <button type="button" class="btn btn-primary">Button<a href=""></a></button>
                </div>
                <div class="container">
                    <div class="timetable-img text-center">
                        <img src="{% static 'img/content/timetable.png' %}" alt="">
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered text-center">
                            <thead>
                                <tr class="bg-light-gray">
                                    <th class="text-uppercase">Time</th>
                                    {% for day in days %}
                                    <th class="text-uppercase">{{ day|date:"l" }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for hour in hours %}
                                <tr>
                                    <td class="align-middle">{{ hour }}:00</td>
                                    {% for day in days %}
                                    {% if schedule|dict_item:day|dict_item:hour %}
                                    <td>
                                        {% for program in schedule|dict_item:day|dict_item:hour %}

                                        <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13">{{ program.title }}</span>
                                        <div class="font-size13 margin-10px-top">{{ program.task }}</div>

                                        <div class="margin-10px-top font-size14">
                                            {{ program.start_time|time:"H:i" }} - {{ program.end_time|time:"H:i" }}
                                        </div>
                                        <div class="font-size13 text-light-gray">{{ program.host.get_full_name }}</div>
                                        
                                        {% endfor %}


                                    </td>
                                    {% else %}
                                    <td class="bg-light-gray">

                                    </td>
                                    {% endif %}

                                    {% endfor %}

                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div><!-- End Left side columns -->
    </div>
</section>
{% endblock %}
