<div class="col-lg-6 alert alert-light alert-dismissible fade show" role="alert">
    <div class="card ">
        <div class="card-header"><i class="bi bi-info-circle"></i> Info</div>
        <div class="card-body">
            <h6 class="card-title">A few instructions:</h6>
            <li style="list-style-type: none;">Select an item for more information.</li>
            {% if instructions %} 
            {% for instruction in instructions %}
            <li style="list-style-type: none;">{{instruction.instruction}}</li>
            {% endfor %}
            {% endif %}
        </div>
        <div class="card-footer"></div>
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% include 'layouts/includes/information/info_acordeon.html' %}
