<div class="col-lg-3">
    <div class="card">

        <div class="card-header" style="background-color: {{ task.task_status.color }};">

            Taks</div>
        <div class="card-body">
            <h5 class="card-title"><a href="{% url 'tasks' task.id %}">[{{task.id}}] {{task.title}}</a></h5>
            <p>{{task.description}}</p>
            <p>Proyecto: <a href="{% url 'project_panel' task.project_id %}">{{task.project}}</a></p>
        </div>
        <div class="card-footer">
            <span>
                <a href="{% url 'task_edit' task.id %}" class="btn btn-primary"><i class="bi bi-pencil-fill"></i></a>
                <form method="post" action="{% url 'task_delete' task.id %}" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">
                        <i class="bi bi-trash-fill"></i>
                    </button>
                </form>
            </span>
        </div>
    </div>
</div>