
<span>
    {% if urls %}    
    {% for url in urls %}
    <a href="{% url url.url %}" class="btn btn-success" style="margin-bottom: 10px;">{{url.name}}</a>
    {% endfor %}
    {%  else %}
    {% endif %}
    
    {% if form_urls %}    
    {% for url in form_urls %}
    <a href="{% url url.url url.form_id %}" class="btn btn-info" style="margin-bottom: 10px;">{{url.name}}</a>
    {% endfor %}
    {%  else %}
    {% endif %}

    {% if other_urls %}    
    {% for url in other_urls %}
    <a href="{% url url.url  %}" class="btn btn-secondary" style="margin-bottom: 10px;">{{ url.name }}</a>
    {% endfor %}
    {% else %}
    # No hay URLs para mostrar
    {% endif %}




</span>