{% extends 'layouts/base.html' %}

{% block content %}

<style>

.tabla-contenedor {
    max-height: 400px; /* Ajusta la altura según tus necesidades */
    overflow-y: auto; /* Habilita el scroll vertical */
}
/* Estilo para la tabla (como mencionamos en respuestas anteriores) */
/* ... */



.mainf{
	background-color:blue;
	padding:10px;


	}

.topf{
	background:green;
	padding:10px;

	
}

.contentf{
	background:aliceblue;
	padding:10px
}


/* Estilo para la tabla */
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
tr:nth-child(odd) {
    background-color: #f2f2f2; /* Fondo intercalado */
}
th {
    background-color: #333;
    color: white;
    font-weight: bold;
}
/* Bordes */
table, th, td {
    border: 1px solid #ddd;
}

</style>





<div class="mainf">
    	<div class="topf">
        <p>Top</p>
	</div>
	<div class="contentf">
		<div class="tabla-contenedor">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Evento</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    {% for event in events %}
                    <tr>
                        <td>{{ event.id }}</td>
                        <td>{{ event.title }}</td>
                        <td>{{ event.created_at|date:"d-M H:i" }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
	    </div>
        </div>
    </div>


{% endblock %}
