<div class="col-lg-6">
    <div class="card">
        <div class="card-header"><i class="bi bi-cloud"></i> Links</div>
        <div class="card-body">
            <h5 class="card-title">Continue browsing</h5>
            <!-- Default Accordion -->
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Tasks links
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            {% include 'projects/includes/other_links.html' %}
                        </div>
                    </div>
                </div>

            </div><!-- End Default Accordion Example -->

        </div>
    </div>

</div>