{% load static %}
<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link " href="{% url 'index' %}">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li><!-- End Dashboard Nav -->
        {% if user.username %}


        {% include 'layouts/includes/projects.html' %}
        {% include 'layouts/includes/tasks.html' %}
        {% include 'layouts/includes/events.html' %}
        {% include 'layouts/includes/management.html' %}
        {% include 'layouts/includes/configuration.html' %}

        {% endif %}

        <li class="nav-heading">Pages</li>
        {% if user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'profile' user.id %}">
                <i class="bi bi-person"></i>
                <span>Profile</span>
            </a>
        </li><!-- End Profile Page Nav -->
        {% else %}
        {% endif %}
        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'about' %}">
                <i class="bi bi-question-circle"></i>
                <span>F.A.Q</span>
            </a>
        </li><!-- End F.A.Q Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'about' %}">
                <i class="bi bi-envelope"></i>
                <span>Contact</span>
            </a>
        </li><!-- End Contact Page Nav -->
        {% include 'layouts/includes/register.html' %}
        <!-- End Register Page Nav -->
        {% include 'layouts/includes/login.html' %}
        <!-- End Login Page Nav -->


        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'about' %}">
                <i class="bi bi-dash-circle"></i>
                <span>Error 404</span>
            </a>
        </li><!-- End Error 404 Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'blank' %}">
                <i class="bi bi-file-earmark"></i>
                <span>Blank</span>
            </a>
        </li><!-- End Blank Page Nav -->

    </ul>

</aside><!-- End Sidebar-->