{% extends 'layouts/base.html' %}

{% block content %}
<div class="pagetitle">
    <h1>{{title}}</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'blank' %}">Blank</a></li>
            <li class="breadcrumb-item active">{{title}}</li>
        </ol>
    </nav>
</div><!-- End Page Title -->
<!-- Mensajes de confirmación y éxito -->
{% if messages %}
<div id="message-container" class="alert alert-info" role="alert">
    {% for message in messages %}
    <p{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</p>
    {% endfor %}
</div>
{% endif %}
<section class="section">
    <div class="row">
        {% if user.is_authenticated %}
        <div class="col-lg-6">
            <h1>Welcome Home , from Homepage </h1>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Logout</h5>
                    <a href="{% url 'logout' %}">Logout</a>
                </div>
            </div>
        </div>
        {% else %}
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Login</h5>
                    <a href="{% url 'login' %}">Login</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Register</h5>
                    <a href="{% url 'register' %}">Register</a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</section>


{% endblock %}