{% extends 'layouts/base.html' %}
{% load static %}
{% load schedule_filters %}

{% block content %}

{% if messages %}
{% include 'layouts/includes/alert.html' %}
{% endif %}

<div class="pagetitle">
    <h1>{{page_title}}</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active">{{page_title}}</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section dashboard">
    <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
            <div class="row">
                
                {% include 'index/includes/news.html' %}
                {% include 'index/includes/top.html' %}

                {% include 'index/includes/slide.html' %}
                {% include 'index/includes/card.html' %}
                
                {% include 'index/includes/news.html' %}
                {% include 'index/includes/top.html' %}
                {% if user.username %}
                <!-- cards includes if user loggeed in -->

                {% include 'index/includes/revenue_card.html' %}
                
                {% include 'tests/chart_time.html' %}
                {% include 'tests/chart_report.html' %}
                {% include 'tests/chart_bar.html' %}
                {% include 'tests/chart_trend.html' %}
                {% include 'tests/table.html' %}
                <!-- end include cards user loggeed in  -->     
                {% else %}
                {% include 'index/includes/dashboard_sales_card.html' %}


                





                {% endif %}
            </div>
        </div><!-- End Left side columns -->

        <!-- Right side columns -->
        <div class="col-lg-4">

        {% if user.name %}
        {% else %}

        {% endif %}
        </div><!-- End Right side columns -->

    </div>
</section>

{% endblock %}