<li class="nav-item">
    <a class="nav-link collapsed" data-bs-target="#rooms-nav" data-bs-toggle="collapse" href="{% url 'rooms:lobby' %}">
        <i class="bi bi-columns-gap"></i><span>rooms</span><i class="bi bi-chevron-down ms-auto"></i>
    </a>
    <ul id="rooms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
            <a href="{% url 'rooms:lobby' %}">
                <i class="bi bi-circle"></i><span>Lobbby</span>
            </a>
        </li>
        <li>
            <a href="{% url 'rooms:room_list' %}">
                <i class="bi bi-circle"></i><span>Rooms</span>
            </a>
        </li>
        {% if user.is_authenticated %}
        <li>
            <a href="{% url 'rooms:room_create' %}">
                <i class="bi bi-circle"></i><span>Create room</span>
            </a>
        </li>
        <li>
            <a href="{% url 'rooms:entrance_exit_list' %}">
                <i class="bi bi-circle"></i><span>Entrances</span>
            </a>
        </li>
        <li>
            <a href="{% url 'rooms:portal_list' %}">
                <i class="bi bi-circle"></i><span>Portals</span>
            </a>
        </li>

        {% endif %}

    </ul>
</li><!-- End rooms Nav -->
