<!-- configuration_button.html -->
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="configurationDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Configuración
    </a>
    <ul class="dropdown-menu" aria-labelledby="configurationDropdown">
        <!-- Opción 1 -->
        <li><a class="dropdown-item" href="{% url 'about' %}">Opción 1</a></li>

        <!-- Opción 2 -->
        <li><a class="dropdown-item" href="{% url 'about' %}">Opción 2</a></li>

        <!-- Divider -->
        <li>
            <hr class="dropdown-divider">
        </li>

        <!-- Opción 3 -->
        <li><a class="dropdown-item" href="{% url 'about' %}">Opción 3</a></li>

        <!-- Opción 4 -->
        <li><a class="dropdown-item" href="{% url 'about' %}">Opción 4</a></li>

        <!-- Divider -->
        <li>
            <a class="dropdown-item" href="{% url 'create_status' %}">Crear nuevo estado</a>
        </li>
       <!-- Gestionar Estados -->
       <li><a class="dropdown-item" href="{% url 'status_list' %}">Gestionar Estados</a></li>
    </ul>
</li>

