<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="{% url 'docsview' %}" role="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        Documents
    </a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{% url 'docsview' %}">Dcocuments</a></li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="{% url 'docupload' %}">Docment upload</a></li>
        <li><a class="dropdown-item" href="#">#</a></li>

        <li><a class="dropdown-item" href="#">Picked up Events</a></li>
    </ul>
</li>
