<li class="nav-item">
    <a class="nav-link collapsed" data-bs-target="#events-nav" data-bs-toggle="collapse" href="{% url 'events' %}">
        <i class="bi bi-menu-button-wide"></i><span>Events</span><i class="bi bi-chevron-down ms-auto"></i>
    </a>
    <ul id="events-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
            <a href="{% url 'events' %}">
                <i class="bi bi-circle"></i><span>Events</span>
            </a>
        </li>
        <li>
            <a href="{% url 'create_event' %}">
                <i class="bi bi-circle"></i><span>Create Event</span>
            </a>
        </li>
        <li>
            <a href="{% url 'edit_event' %}">
                <i class="bi bi-circle"></i><span>Edit Event</span>
            </a>
        </li>
    </ul>
</li><!-- End events Nav -->
