<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="{% url 'events' %}" role="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        Events
    </a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{% url 'events' %}">Events</a></li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="{% url 'create_event' %}">Create Event</a></li>
        <li><a class="dropdown-item" href="{% url 'edit_event' %}">Edit Event</a></li>

        <li><a class="dropdown-item" href="#">Picked up Events</a></li>
    </ul>
</li>
