<div class="modal fade" id="createEntranceExit" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create Entrance/Exit</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" class="row g-3">
                    {% csrf_token %}
                    <div class="col-12">
                        <div class="form-floating mb-3">
                            {{ entrance_exit_form.name }}
                            <label for="floatingName">Name</label>
                        </div>
                        <div class="form-floating mb-3">
                            {{ entrance_exit_form.description }}
                            <label for="floatingTextarea">Description</label>
                        </div>
                        <div class="form-floating mb-3">
                            {{ entrance_exit_form.face }}
                            <label for="floatingFace">Face</label>
                        </div>
                        <div class="form-floating mb-3">
                            {{ entrance_exit_form.type }}
                            <label for="floatingType">Type</label>
                        </div>
                    </div>
                    <div class="text-end">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary" name="create_entrance_exit">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
