{% extends 'layouts/base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Confirmar Eliminación</h1>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <p>¿Estás seguro de que quieres eliminar {{ object.status_name }}?</p>
            <form method="POST" class="form-signin">
                {% csrf_token %}
                <div class="mb-3">
                    {{ form.as_p }}
                </div>
                <button class="btn btn-primary" type="submit">
                    Eliminar
                </button>
                <a href="{% url 'status_edit' %}" class="btn btn-secondary">Regresar</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
