{% extends 'layouts/base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Editar Estado</h1>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="POST" class="form-signin">
                {% csrf_token %}
                <div class="mb-3">
                    {{ form.as_p }}
                </div>
                <button class="btn btn-primary" type="submit">
                    Guardar cambios
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
