<!-- Recent Activity -->
<div class="card">
    <div class="filter">
        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
            <li class="dropdown-header text-start">
                <h6>Options</h6>
            </li>
            <li><a class="dropdown-item" href="#">Today</a></li>
        </ul>
    </div>

    <div class="card-body">
        <h5 class="card-title">Recent Events Activity <span>| Today</span></h5>

        <div class="activity">


            {% if events_states %}
            {% for item in events_states %}

            {% load schedule_filters %}

            <div class="activity-item d-flex">
                <div class="activite-label">
                    {{ item.start_time|timesince:item.end_time|only_hours }}
                </div>
                
                <i style="color:{{ item.status.color }};" class="bi bi-circle-fill activity-badge text align-self-start"></i>
                <div class="activity-content">
                    <a href="#" class="fw-bold text-dark">{{ item.event.title }}</a>
                    
                    <span style="font-size:12px; color:{{task.task_status.color}};"> | <span><a href="" >{{ item.status }}</a></span></span>

                </div>
            </div><!-- Fin del elemento de actividad -->

            
            
            {% endfor %}
            {% endif %}


        </div>

    </div>
</div><!-- End Recent Activity -->