{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
<div class="pagetitle">
    <h1>{{title}}</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'project_panel' %}">Projects</a></li>
            <li class="breadcrumb-item active">{{title}}</li>
        </ol>
    </nav>
</div><!-- End Page Title -->
<section class="section dashboard">
    <div class="row">
        <!-- Left side columns -->
        <div class="col-lg-8">
            <div class="row">
                
                {% if projects %}
                {% include 'projects/control/control.html' %}
                {% include 'projects/includes/project_top.html' %}
                {% else %}
                {% endif %}

                
                {% if project_data %}
                {% include 'projects/includes/project_card.html' %}
                {% include 'projects/includes/project_tasks.html' %}
                
                {% else %}
                {% endif %}

            </div>
        </div><!-- End Left side columns -->
        <!-- Right side columns -->
        <div class="col-lg-4">
        </div><!-- End Right side columns -->
    </div>
</section>

{% endblock %}