{% extends 'layouts/base.html' %}

{% block content %}

<h1>About</h1>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias at odio perspiciatis modi minima, vel architecto omnis repudiandae eligendi accusamus excepturi ducimus distinctio ipsam laboriosam soluta? Facere sed consectetur, alias autem sint nesciunt asperiores pariatur ullam, repudiandae veniam fugiat provident fugit deserunt rem eligendi non, deleniti delectus voluptas eveniet porro debitis quam expedita mollitia inventore. Eum amet vel laudantium libero nam numquam ducimus! Accusantium ipsum, rerum sequi autem error aliquam veritatis animi explicabo est consectetur dolorem earum, nam at itaque inventore quis cupiditate exercitationem dolores. Saepe dolorem maxime vitae fugiat officia harum soluta veniam voluptatibus, rem ad, cumque recusandae sapiente.</p>
<p>Website created by {{username}}</p>
{% endblock %}