{% extends 'layouts/base.html' %}
{% block content %}
<style>
    /* ... */
.tabla-contenedor {
    max-height: 200px;
    /* Ajusta la altura según tus necesidades */
    overflow-y: auto;
    /* Habilita el scroll vertical */
}

/* Estilo para la tabla (como mencionamos en respuestas anteriores) */
.mainf {
    background-color: wheat;
    padding: 10px;
}

.topf {
    background: white;
    padding: 10px;
}

.contentf {
    background: aliceblue;
    padding: 10px
}

/* Estilo para la tabla */
table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(odd) {
    background-color: #f2f2f2;
    /* Fondo intercalado */
}

th {
    background-color: #333;
    color: white;
    font-weight: bold;
}

/* Bordes */
table,
th,
td {
    border: 1px solid #ddd;
}
</style>

<div class="mainf">
    <div class="topf">
        <div class="container">
            <form method="POST" action="{% url 'events' %}">
                {% csrf_token %}
                <label for="cerrado">Omitir Cerrados</label>
                <input type="checkbox" name="cerrado" value="true" {% if request.session.filtered_cerrado %}checked{% endif %}>
                <input type="submit" value="Filtrar">
            </form>
        </div>
    </div>

    <div class="contentf">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-9">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col">
                            <div class="card h-100">
                                <div class="card-header"></div>
                                <div class="card-body">
                                    <h5 class="card-title"></h5>
                                    <p class="card-text"></p>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted"></small>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" style="width: 18rem;">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"></li>
                                    <li class="list-group-item"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                      
                </div>

                <div class="col-md-3">

                    <div class="btn-group btn-group-sm" role="group">
                         
                        <button class="btn btn-secondary" type="button">A
                        </button> 
                        <button class="btn btn-secondary" type="button">B
                        </button>
                    </div>
                    <p></p>
                    <div class="dropdown">
                         
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                            Acción
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                             <a class="dropdown-item disabled" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a> <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="contentf">
        <div class="container">
            <div class="tabla-contenedor">
                <table id="infoTable" class="table table-striped table-hover table-sm">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Evento</th>
                            <th>Fecha</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for event in events %}
                            <tr class="clickableRow user-select-none" data-event-id="{{ event.id }}">
                                <td>{{ event.id }}</td>
                                <td>{{ event.title }}</td>
                                <td>{{ event.created_at|date:"d-M H:i" }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>
</div>
<!-- Dentro de tu script -->
<script>
    // Función para mostrar una alerta de confirmación
    function confirmacionDobleClic(eventId) {
        const mensaje = '¿Desea gestionar esta tarjeta?'; // Mensaje de confirmación
        const confirmado = confirm(mensaje); // Muestra la alerta y devuelve true o false

        if (confirmado) {
            // El usuario hizo clic en "Aceptar"
            // Actualiza el contenido de la tarjeta con la información relevante
            //updateEvents();
            //updateTable();
            
            const primeraTarjeta = document.querySelector('.card');
            // const title = ...
            // const details = ...
            // const created_at = ...
            primeraTarjeta.querySelector('.card-header').textContent = `Evento ${eventId}`;
            //primeraTarjeta.querySelector('.card-title').textContent = event.title
            //primeraTarjeta.querySelector('.card-text').textContent = event.details
            //primeraTarjeta.querySelector('.text-muted').textContent = created_at;
        } else {
            // El usuario hizo clic en "Cancelar"
            console.log('Acción cancelada');
        }
    }

    // Asigna la función al evento de doble clic (dblclick) en las filas de la tabla
    document.querySelectorAll('#infoTable tbody tr').forEach(row => {
        const eventId = row.getAttribute('data-event-id');
        row.addEventListener('dblclick', () => confirmacionDobleClic(eventId));
    });
</script>




{% endblock %}