{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

  <form class="container form profile">
    <h1>Perfil de {{ profile.user.get_full_name }}</h1>
    {% if profile.profile_picture %}
      <img src="{{ profile.profile_picture.url }}" alt="Foto de perfil">
    {% endif %}
    <p><strong>Biografía:</strong> {{ profile.bio }}</p>
    <p><strong>Ubicación:</strong> {{ profile.location }}</p>
    {% if profile.linkedin_url %}
      <p><a href="{{ profile.linkedin_url }}">Ver perfil en LinkedIn</a></p>
    {% endif %}

    <h2>Experiencia Laboral</h2>
    {% for experience in profile.experiences.all %}
      <div class="experience">
        <h3>{{ experience.job_title }} - {{ experience.company_name }}</h3>
        <p>{{ experience.start_date }} - {{ experience.end_date|default:"Presente" }}</p>
        <p>{{ experience.description }}</p>
      </div>
    {% endfor %}

    <h2>Educación</h2>
    {% for education in profile.education.all %}
      <div class="education">
        <h3>{{ education.institution_name }}</h3>
        <p>{{ education.degree }}, {{ education.field_of_study }}</p>
        <p>{{ education.start_date }} - {{ education.end_date|default:"Presente" }}</p>
        <p>{{ education.description }}</p>
      </div>
    {% endfor %}

    <h2>Habilidades</h2>
    <ul>
      {% for skill in profile.skills.all %}
        <li>{{ skill.skill_name }} ({{ skill.proficiency_level }})</li>
      {% endfor %}
    </ul>
  </form>

{% endblock %}
