<!-- disabled_link.html -->
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Widgets
    </a>
    <ul class="dropdown-menu">
        <!-- Widget 1 -->
        <li><a class="dropdown-item" href="#">Widget 1</a></li>

        <!-- Widget 2 -->
        <li><a class="dropdown-item" href="#">Widget 2</a></li>

        <!-- Divider -->
        <li>
            <hr class="dropdown-divider">
        </li>

        <!-- Widget 3 -->
        <li><a class="dropdown-item" href="#">Widget 3</a></li>

        <!-- Widget 4 -->
        <li><a class="dropdown-item" href="#">Widget 4</a></li>
    </ul>
</li>
