<!-- Top Selling -->
<div class="col-12">
    <div class="card top-selling overflow-auto">

        <div class="filter">
            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                    <h6>Filter</h6>
                </li>

                <li><a class="dropdown-item" href="#">--</a></li>
                <li><a class="dropdown-item" href="#">-</a></li>
                <li><a class="dropdown-item" href="#">--</a></li>
            </ul>
        </div>

        <div class="card-body pb-0">
            <h5 class="card-title">Projects <span>| Today</span></h5>

            <table class="table datatable table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Title</th>
                        <th scope="col">Event</th>
                        <th scope="col">Status</th>
                        <th scope="col">Tasks</th>
                    </tr>
                </thead>
                <tbody>
                    {% for project_info in projects %}
                    <tr>
                        <td><a href="{% url 'project_panel' project_info.project.id %}" class="text-primary">{{project_info.project.id}}</a></td>
                        <td><a href="{% url 'project_panel' project_info.project.id %}" class="text-primary">{{project_info.project.title}}</a></td>
                        {% if project_info.project.event.id %}
                        <td><a href="{% url 'event_panel' project_info.project.event.id %}" class="text-primary">{{project_info.project.event.title}}</a></td>
                        {% else %}
                        <td><a href="#" class="text-primary">None</a></td>

                        {% endif %}

                        <td><span style="background-color: {{ project_info.project.project_status.color }}" class="badge">
                            {{project_info.project.project_status.icon}} 
                            {{project_info.project.project_status.status_name}}</span></td>
                        <td><a href="{% url 'task_panel'%}"  class="text-primary">{{project_info.count_tasks}}</a></td>

                    </tr>
                    {% endfor%}

                </tbody>
            </table>

        </div>

    </div>
</div><!-- End Top Selling -->
